.h3 {
    font-family: Gilroy;
    font-weight: 600;
    font-style: Semibold;
    font-size: 20px;
}


.p{
    font-family: Gilroy;
font-weight: 600;
font-style: Semibold;
font-size: 14px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;

}