* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h3 {
    font-family: Gilroy;
    font-weight: 600;
    font-style: Semibold;
    font-size: 20px;
}


.p {
    font-family: Gilroy;
    font-weight: 600;
    font-style: Semibold;
    font-size: 14px;
}


.first_time {
    font-family: Gilroy;
    font-weight: 600;
    font-style: Semibold;
    font-size: 14px;
}

.secound_time {
    font-family: Gilroy;
    font-weight: 600;
    font-style: Semibold;
    font-size: 14px;
}

.time {
    display: flex;
    gap: 15px;
}

.paragrph {
    color: red;
    font-family: Gilroy;
    font-weight: 600;
    font-style: Semibold;
    font-size: 14px;
}


.box {
    width: 350px;
    border-radius: 4px;
    padding: 30px;
    border: 1px solid black;
}


.container {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
}




/* /////////////////////////////////////////////////////////////////////////////////////////// */

.info h3 {
    font-family: Gilroy;
    font-weight: 600;
    font-style: Semibold;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.info button{
    display: flex;
    align-items: center;
    
}